
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{ image.description }}</h4>
    <p class="image-long-description">{{ image.longDescription }}</p>
</div>

<div class="modal-body">
    <div class="row">

        <div class="col-md-9">
            <img class="img-responsive img-modal" alt="" src="/galleries/{{ image.resizedFilename }}" />
        </div>

        <div class="col-md-3">

            {% if image.exifData.takenAt is not null %}
                <i class="far fa-calendar"></i>
                {{ image.exifData.takenAt|date("l, d/m/y H.i")|default('~') }}<br/>
            {% endif %}

            {% if image.hasExifGeoCoordinates %}
                <i class="fas fa-map-marked-alt"></i>
                {{ image.exifData.latitude|number_format(5) }}, {{ image.exifData.longitude|number_format(5) }}<br/>
                {% if image.exifData.altitude is not null %}
                    <i class="fas fa-mountain"></i>
                    {{ image.exifData.altitude }} m<br/>
                {% endif %}
            {% endif %}

            <i class="fas fa-camera"></i>
            {{ image.exifData.make }} {{ image.exifData.model }}<br/>
            <hr/>

            {%  if not image.weather.isUndefined %}
                <i class="fas fa-sun"></i>
                {{ image.weather.description|default('~') }}<br/>
                <i class="fas fa-thermometer-three-quarters"></i>
                {{ image.weather.temperature|number_format(0)|default('~') }} °C<br/>
                <i class="fas fa-tint"></i>
                {{ (image.weather.humidity * 100)|default('~') }} %<br/>
                <i class="fas fa-arrow-down"></i>
                {{ image.weather.pressure|default('~') }} mBar<br/>
                <i class="fas fa-wind"></i>
                {{ image.weather.windSpeed|default('~') }} km/h<br/>
                <br/>
                <small>Weather powered by <a href="https://darksky.net/poweredby/" target="_blank">Dark Sky</a></small>
                <hr/>
            {% endif %}

            {% if image.hasExifGeoCoordinates %}
                <div id="imageMap" class="img-thumbnail" data-mapboxapikey="{{ mapboxApiKey }}"
                     data-latitude="{{ image.exifData.latitude }}" data-longitude="{{ image.exifData.longitude }}">
                </div>
            {% endif %}

        </div>
    </div>
</div>

<script src="{{ asset('js/imageMap.js') }}"></script>
